{% extends "base_blog.html" %}
{% block title %}Flux{% endblock %}

{% block content %}
{% for ticket in own_ticket%}
<div class="row d-flex justify-content-center ">
    <div class="col-lg-6 ">
        <div class=" border border-dark mt-4">
            <p><span class="font-weight-bold">{{ticket.user}} a demandé une critique</span>
                <span class="font-weight-light ml-2">{{ticket.time_created}}</span>
            </p>
            <p>{{ticket.title}}</p>
            <p>{{ticket.description}}</p>
            {{ticket.image}}
            <div class="row">
                <button class ="btn btn-danger ml-auto mr-4 mb-2">
                    <a class="text-light" href="{% url 'delete_ticket' id_ticket=ticket.pk %}">Delete</a></button>
                <button class ="btn btn-info mr-4 mb-2">
                    <a class="text-light" href="{% url 'ticket' id_ticket=ticket.pk %}">Update</a></button>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}